<h1 class="ce-title">Currency Exchange</h1>

<div class="ce-wrapper">
  <div class="ce-dialog">
    <div id="currencyExchange">
      <app></app>
    </div>
  </div>
</div>

<% content_for :javascript do %>
<%= javascript_pack_tag 'converter' %>
<% end %>
