<template>
    <div class="form-group">
      <div class="ce-currencies">

        <div class="ce-formfield">
          <span class="ce-formfield-caption">Convert</span>
          <v-select :options="currencies" v-model="params.from_currency" class="ce-form-field ce-currency-select"></v-select>
        </div>

        <div class="ce-flipper">
          <a href="#!" title="Flip currencies" @click="flipCurrencies">

            <i class="fas fa-exchange-alt"></i>
          </a>
        </div>

        <div class="ce-formfield">
            <span class="ce-formfield-caption">
              to
            </span>

          <v-select :options="currencies" v-model="params.to_currency" class="ce-form-field ce-currency-select"></v-select>
        </div>
      </div>
      <div>

        <div class="ce-date ce-row">
          <div class="ce-formfield">
              <span class="ce-formfield-caption">
                Date
              </span>

            <div class="input-group">
              <flat-pickr
                  v-model="params.date"
                  :config="fpconfig"
                  class="form-control"
                  placeholder="Today"
                  name="date">
              </flat-pickr>
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" title="Clear" data-clear>
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>

          </div>
        </div>

        <div class="ce-row">
          <p class="text-muted" v-if="params.date">
            The exchange rate from {{params.from_currency.value}} to {{params.to_currency.value}} on the selected day was {{ rate }}
            (<a href="#!" @click="clearDate">Clear date</a>)
          </p>

          <p class="text-muted" v-else>
            The exchange rate from {{params.from_currency.value}} to {{params.to_currency.value}} is currently {{ rate }}
            (Last updated: {{ rate_timestamp }}, <a href="#!" @click="updateRate">Refresh</a>)
          </p>
        </div>

        <hr>

        <div class="ce-amount ce-row">
          <div class="ce-formfield" id="ce-amount-input">
            <div class="ce-formfield-caption">
              Amount ({{params.from_currency.value}})
            </div>

            <div class="ce-formfield-field">
              <input type="number" name="Convert amount" class="form-control" v-model="from_value">
            </div>
          </div>
        </div>

        <div class="ce-row">
          <div class="ce-formfield" id="ce-amount-output">
            <div class="ce-formfield-caption">
              Amount ({{params.to_currency.value}})
            </div>

            <div class="ce-formfield-field">
              <h1 id="ce-conversion-result">{{to_value_rounded}}</h1>
            </div>
          </div>

        </div>
      </div>
    </div>
</template>

<script>
    import flatPickr from "vue-flatpickr-component";
    import vSelect from "vue-select";
    import axios from 'axios';

    export default {
        data: function () {
            return {
                currencies: [
                    { label: "Swiss Franc (CHF)", value: "CHF" },
                    { label: "Euro (EUR)", value: "EUR" }
                ],
                params: {
                    date: null,
                    from_currency: { label: "Swiss Franc (CHF)", value: "CHF" },
                    to_currency: { label: "Euro (EUR)", value: "EUR" }
                },
                rate: 0.5,
                rate_timestamp: '',
                from_value: 0,
                fpconfig: {
                    wrap: true,
                    altFormat: 'M j, Y',
                    altInput: true,
                    dateFormat: 'Y-m-d',
                    maxDate: new Date().fp_incr(-1),
                    minDate: "1999-01-01"
                }
            }
        },
        watch: {
            params: {
                deep: true,
                handler: function() {
                    // go fetch the new rate
                    this.updateRate();
                }
            }
        },
        computed: {
            to_value: function() {
                return (this.from_value * this.rate) || 0
            },
            to_value_rounded: function() {
                return Math.round(this.to_value * 100) / 100
            },
            apiUrl: function() {
                let url = '/api/v1/rate';

                if(this.params.date) {
                    url += '/' + this.params.date
                }

                url += '?from=' + this.params.from_currency.value;
                url += '&to=' + this.params.to_currency.value;

                return url;
            }
        },
        methods: {
            clearDate: function() {
                this.params.date = null;
            },
            updateRate: function() {
                let vm = this;

                axios.get(this.apiUrl)
                    .then(function(response) {
                        vm.rate = response.data.rate;
                        vm.rate_timestamp = response.data.timestamp;
                    })
                    .catch(function(error) {
                        console.log(error);
                    });

            },
            flipCurrencies: function() {
                let old_from = this.params.from_currency;
                this.params.from_currency = this.params.to_currency;
                this.params.to_currency = old_from;
            },
            populateCurrencies() {
                let vm = this;

                axios.get("https://openexchangerates.org/api/currencies.json")
                    .then(function(response) {
                        vm.currencies = [];

                        for (const [key, value] of Object.entries(response.data)) {
                            vm.currencies.push({
                                label: value + " (" + key + ")",
                                value: key
                            });
                        }
                    });
            }
        },
        beforeMount: function() {
            this.updateRate();
            this.populateCurrencies();
        },
        components: {
            flatPickr,
            vSelect
        }
    }
</script>
