.ce-dialog {
  background: #fff;
  padding: 40px;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.ce-currencies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 999px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.ce-row {
  margin-top: 10px;
}

.ce-formfield {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.ce-formfield-caption {
  font-style: italic;
  color: #303030;
}

.ce-formfield-field { }

.ce-flipper {
  margin-top: 22px;

  @media (max-width: 999px) {
    align-self: center;
  }

  a {
    padding: 20px;
  }
}

.ce-currency-select {
  @media (min-width: 1000px) {
    min-width: 400px;
  }

  .vs__clear {
    display: none;
  }
}
