body {
  background: #20252b;
}

.ce-title {
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
}

.ce-main {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: 900px) {
    padding-top: 100px;
  }
}